<div class="col s12">
  <h1 class="col s7"> Welcome to our test </h1>
  <section *ngIf="currentQuestion">

    <p> {{currentQuestion.Question}}</p>
    <div *ngFor="let ans of currentQuestion.Answers">
      <input (change)="currentQuestion.UserAnswer=ans.value" type="checkbox" [value]="ans.value">{{ans.key}}
    </div>
  </section>

  <div col s7>
    <button class="col s5" (click)="next()" [disabled]="questionsList.length-1 == this.currentQuestionID"> next  </button>
    <button class="col s5" (click)="prev()" [disabled]="currentQuestionID == 0 || this.questionsList.length == 1"> prev  </button>
    <button class="col s5" (click)="calcMark()" > done  </button>
  </div>
</div>